<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title> wakacje wakacje </title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

{% block content %}

<div class="container">
    <div class="card card-container">

        <img id="profile-img" class="profile-img-card" src="{% static 'beach.png' %}" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="r_pass" method="POST">
            {% csrf_token %}
            {{ form }}
            <p style="display:none;" class="pass_validation">hasła muszą być identyczne</p>
            <button class="btn btn-lg btn-primary btn-block btn-reset">Set new password</button>
        </form>

        <a href="login" class="forgot-password">
            Back
        </a>
        <code id="cemail" data-email="{{ uemail }}"></code>
        <script>
            document.getElementById('id_email').value = document.getElementById('cemail').getAttribute('data-email');
            document.getElementById('id_email').disabled = 'true';
            document.querySelector('form').addEventListener("submit", function(e){
                        e.preventDefault();
                        if(document.getElementById('id_new_passsword').value == document.getElementById('id_new_passsword_re').value){
                            document.getElementById('id_email').disabled = '';
                            this.submit();
                        }else{
                            document.getElementsByClassName('pass_validation')[0].style.display = "block";
                        }
                    });
        </script>
    </div>
</div><!-- /container -->


{% endblock %}

</body>
