<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title> wakacje wakacje </title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

{% block content %}

<div class="container">
    <div class="card card-container">

        <img id="profile-img" class="profile-img-card" src="{% static 'beach.png' %}" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="r_pass" method="POST">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-lg btn-primary btn-block btn-reset">Reset password</button>
        </form>
        <a href="login" class="forgot-password">
            Back
        </a>
    </div>
</div><!-- /container -->


{% endblock %}

</body>
