{% extends 'user_view/base.html' %}
{% block head %}
<link rel="stylesheet" href="./../../static/add-user.css">
{% endblock head %}
{% block content %}
{% if user.is_authenticated %}
{% if request.user.is_superuser %}
<p>Aby stworzyć nowego użytkownika wypełnij poniższy formularz.</p>
<form method="POST">
    {% csrf_token %}
    {{form}}

    <div class="form-actions">
        <button type="submit" class="submit">Dodaj użytkownika</button>
    </div>
</form>
{% endif %}
{% endif %}
{% endblock content%}