<html>
<body>
<h3>Potwierdzenie</h3>

<p>Proszę potwierdzić BONUS Wakacje o wartości {{ days }} dni dla użytkownika {{ client_name }} {{ client_surname }}. </p>
<p>Wartość BONUSA obejmuje dni: <span style="display:none;" id="sp">{{ days_bonus }}</span></p>
<p><a href="{{ url | escape }}">Kliknij w link aby zaakceptować.</a>

</p>
<script>
    var s = document.getElementById('sp'),
    ss=s.innerText;
    ss = ss.replace(/"/g,'').replace(/\[/g,'').replace(/\]/g,'')
    s.innerText=ss;
    document.getElementById('sp').style.display="initial";
</script>
</body>
</html>

