{% extends 'user_view/base.html' %}

{% block head %}
<link rel="stylesheet" href="./../../static/admin.css">
{% endblock head %}
{% block content %}
{% if user.is_authenticated %}
    {% if request.user.is_superuser %}
    <div class="row">   
    <table class="table table-striped" style="width:70%;">
        <tr><td>id</td><td>username</td><td>bonus</td><td></td><td>dni wzięte</td><td>manager</td><td>oczekujące</td></tr>
        {% for user in all_users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{ user.username }}</td>
             <td>
                 <input type=number name="u{{user.id}}" value="{{ user.bonus.bonus}}" min="1" max="25" maxlength="4" size="5" step="0.1" onkeydown="return false"/>
                    </td>
        <td><button class="btn change" id="u{{user.id}}">Zmień</button></td>
            <td class="bonusdays">{{ user.bonusdays.date_bonus}}</td>
            <td>{{user.manager.email}}</td>
            <td>
                {% if user.pending.status == 1 %}
                    <a href="{{user.pending.url}}" title="{{user.pending.dates}}">1 Akceptuj</a>
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <div class="form-actions">

        <button type="submit">Pobierz raport</button>

    </div>
</form>
</div>
<script>
    document.querySelector('#id_year').value = {{year}};

    function submit() {
        var id = this.getAttribute('id'),
            inputName = document.querySelector('input[name="'+id+'"]'),
            newBonus = inputName.value,
            xhttp = new XMLHttpRequest(),
            userid = id.substr(1),
            url = 'http://127.0.0.1:8000/bonus/forceb/' + userid + '/' + newBonus + '/';

        xhttp.onreadystatechange = function () {
            if(this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
            }
        };
        xhttp.open('GET', url, true );
        xhttp.send();
    }

    var buttons = document.querySelectorAll('.change');
    buttons.forEach(function(item){
        item.addEventListener('click', submit);

    });
</script>
{% else %}
    <p>Welcome, {{ user.username}}.
        You can`t view this page</p>
    {% endif %}
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}


{% endblock content%}
