<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> wakacje wakacje </title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}" >
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>

    {% block head %}

    {% endblock head %}
</head>
<body>
{% block menu %}
  <nav class="navbar navbar-dark bg-primary ">
  <div class="container">
      <a class="margin-none navbar-brand" href="{{ MAIN_URL }}user/">
          <img src ="{% static 'logo.png' %}" alt = "bonus wakacje manager" class="logo" />
      </a>
      <div class="align-middle">
        <div class="nav navbar-nav">
          <a class="nav-item nav-link" href="{{ MAIN_URL }}wniosek/">Złóż wniosek</a>
        {% if request.user.is_superuser %}
          <a class="nav-item nav-link" href="{{ MAIN_URL }}modkal/">Modyfikuj kalendarz</a>
          <a class="nav-item nav-link" href="{{ MAIN_URL }}admin/">Admin</a>
          <a class="nav-item nav-link" href="{{ MAIN_URL }}createuser/">Dodaj użytkownika</a>
        {% endif %}
          <a class="nav-item nav-link" href="{{ MAIN_URL }}sprawdz/">Sprawdź kalendarz</a>

        </div>

        <p class="align-right "><a class="nav-item nav-link" title="logout" href="{{ MAIN_URL }}logout/">Logout <span class="glyphicon glyphicon-star" aria-hidden="true"></span></a></p>
        <p class="align-right">{{ user.username }}</p>

      </div>
  </div>
</nav>
{% endblock menu %}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>