{% extends 'user_view/base.html' %}

{% block head %}
<link rel="stylesheet" href="./../../static/admin.css">
{% endblock head %}
{% block content %}

<hr>
<form method="POST">
    {% csrf_token %}
    {{ form }}

    <div class="form-actions">

        <button type="submit">Sprawdź</button>

    </div>
</form>
{% if warunek is True %}
<link rel="stylesheet" href="./../../static/wniosek.css">
<div class="calendar-form just-see">
    <p data-d="{{td.day}}" data-m="{{td.month}}">{{ cal | safe }}</p>
</div>

<code data-used='{{daysused}}' data-ndu='{{ndu}}' data-d="{{user.bonus.bonus}}" style="display:none;"></code>
<script>
    var swieta = JSON.parse(document.querySelector('code').getAttribute('data-ndu'));
    var uzyte_dni = JSON.parse(document.querySelector('code').getAttribute('data-used'));
</script>
<script src="./../../static/kalendarz.js"></script>
{% endif %}
{% endblock content%}