{% extends 'user_view/base.html' %}
{% block content %}

{% if user.is_authenticated %}
{% load static %}
    {% if user_is_manager %}
    <div class="row">
            <h3>Witaj, {{ user.first_name}}. Wartość Twojego bonusa to: <b>{{ user.bonus}}</b></h3>
            <a href="{{ MAIN_URL }}wniosek/"><button type="button" class="btn btn-success">Złóż wniosek</button></a>

    </div>
    <div class="row">
    <h3>Twój zespół:</h3>
    <table class="table table-striped" style="width:70%;">
            <tr><td>id</td><td>username</td><td>bonus</td><td>dni wzięte</td><td>manager</td><td>oczekujące</td></tr>
            {% for member in all_users %}
                {% if user.email == member.manager.email %}
                <tr>
                    <td>{{member.id}}</td>
                    <td>{{ member.username }}</td>
                    <td>{{ member.bonus.bonus}}</td>
                    <td class="bonusdays">{{ member.bonusdays.date_bonus}}</td>
                    <td>{{member.manager.email}}</td>
                    <td>
                        {% if member.pending.status == 1 %}
                            <a href="{{member.pending.url}}" title="{{member.pending.dates}}">1 Akceptuj</a>
                        {% else %}
                            0
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
  <p><img src ="{% static 'vac.jpg' %}" class="center" /></p>
    </div>
    {% else %}
    <div class="row">
        <h3>Witaj, {{ user.first_name}} {{ user.last_name}}. Wartość Twojego bonusa to: <b>{{ user.bonus}}</b></h3>
        <a href="../wniosek/"><button type="button" class="btn btn-success">Złóż wniosek</button></a>
    <p><img src ="{% static 'vac.jpg' %}" class="center" /></p>
    </div>
    {% endif %}
{% endif %}

{% endblock content%}
