{% extends 'user_view/base.html' %}
{% block head %}
<link rel="stylesheet" href="./../../../../static/wniosek_admin.css">
{% endblock head %}
{% block content %}
{% if request.user.is_superuser %}
Złóż wprowadź korektę w kalendarzu <u>{{clinet_info.imie}} {{clinet_info.nazwisko}}</u>
<hr>
<p>Bonus pracownika {{clinet_info.imie}} {{clinet_info.nazwisko}}: <b> {{clinet_info.bonus}} </b> dni</p>
<p>Wzięte dni: <span class="bonusdays">{{ daysused }}</span></p>
<p id="ddw">
    <u></u>
    <span></span>
</p>
<div class="calendar-form">
    <p data-d="{{td.day}}" data-m="{{td.month}}">{{ cal | safe }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}

        <div class="form-actions">

            <button type="submit" class="submit">Złóż wniosek</button>

        </div>
    </form>
</div>
<code data-used='{{daysused}}' data-ndu='{{ndu}}' data-d="{{clinet_info.bonus}}" data-clientid="{{ clinet_info.id }}" data-clientfirstname="{{ clinet_info.imie }}" data-clientlastname="{{ clinet_info.nazwisko }}" style="display:none;"></code>

<script>
    var swieta = JSON.parse(document.querySelector('code').getAttribute('data-ndu'));
    var uzyte_dni = JSON.parse(document.querySelector('code').getAttribute('data-used'));
</script>
<script src="./../../../../static/calendar_admin.js"></script>

{% endif %}
{% endblock content%}