{% extends 'user_view/base.html' %}

{% block head %}
<link rel="stylesheet" href="./../../static/admin.css">
{% endblock head %}
{% block content %}

<hr>
<p>Wybierz urzytkownika, któremu chcesz zmodyfikować kalendarz</p>
<form method="POST">
    {% csrf_token %}
    {{ form }}

    <div class="form-actions">

        <button type="submit">Zmień</button>

    </div>
</form>
{% endblock content%}