<html>
<body>
<h3>Aktualizacja statusu Bonus Wakacje za miesiąc {{ month }} </h3>

<p>Potwierdź aktualizację statusu Bonus Wakacje.</p>
<p>Kliknięcie w link TAK podniesie wartość bonusa o 1.66 wszystkim użytkownikom.</p>
<p><a href="{{ url2 | escape }}">TAK</a> <a href="{{ url | escape }}">NIE</a>

</p>
<p></p>
</body>
</html>

