{% extends 'user_view/base.html' %}
{% block head %}
<link rel="stylesheet" href="./../../static/wniosek.css">
{% endblock head %}
{% block content %}

<p>Twój bonus to: <b> -- {{ user.bonus.bonus}} -- </b> dni</p>
<p>Wzięte dni: <span class="bonusdays">{{ user.bonusdays.date_bonus }}</span></p>
<p id="ddw">
    <u></u>
    <span></span>
</p>
<div class="calendar-form">
    <p data-d="{{td.day}}" data-m="{{td.month}}">{{ cal | safe }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}

        <div class="form-actions">

            <button type="submit" class="submit">Złóż wniosek</button>

        </div>
    </form>
</div>
<code data-used='{{used}}' data-ndu='{{ndu}}' data-d="{{user.bonus.bonus}}" style="display:none;"></code>
<script>
    var swieta = JSON.parse(document.querySelector('code').getAttribute('data-ndu'));
    var uzyte_dni = JSON.parse(document.querySelector('code').getAttribute('data-used'));
</script>
<script src="./../../static/calendar.js"></script>

{% endblock content%}