<html>
<body>
<h3>Wniosek o wykorzystanie bonusa</h3>

<p>Proszę o wypłacenie mi  BONUSA Wakacje o wartości {{ days }} dni. </p>
<p>Wartość BONUSA obejmuje dni:
<table>
    <tr>
{%for day in days_bonus%}
        <td>{{ day }}</td>
{%endfor%}
    </tr>
</table>

</p>
<p><a href="{{ url | escape }}">Kliknij w link aby zaakceptować.</a>

</p>

</body>
</html>

