body {padding: 0;}

nav {
    height: 70px;
    padding:0.5em;
    font-size: 1.2em
}

.container {
    width:auto;

   }
.navbar-nav { margin-top: 9px;}

nav a {
    color: #fff;

}
nav a:hover {
    text-decoration: none;
}
.navbar-brand {
    padding: 5px 18px 0 0

}
.align-middle {
    margin-top:13px;
}
.align-right {
    float:right;
    }

.nav-item {
   margin: 0 1em;
}
.row {
   padding:1em;
}
.glyphicon-log-out {
    margin-right:0.8em;

}
.label-success {
    padding:0.3em;
    margin-left:4.3em;
}
.bonus {
    display: inline-block;
    margin-right: 9px;
    margin-bottom:2px;
    padding: 3px 10px;
    background: #424242;
    color:#fff;
    border-radius: 50px;
}
.logo {
   height:45px;
}
.center {
    width: 446px;
    height: 456px;
    margin: 5% 10%;
}
