body {padding: 0;}
body > div > table > tbody > tr > th {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #3e6759;
}
th.month{
    text-align:center;
    color: white;
    background: #337ab7;
    text-transform: uppercase;
}
.calendar-form > table {
    padding:10px;
}
.calendar-form > table > tbody > tr {
    display: flex;
}
.calendar-form > table{
    background: #f6f6f6;
    border-collapse: separate !important;
}
.calendar-form > table > tbody > tr > td > table > tbody > tr > td{
    background:#fbfbfb;
    margin:1px;
}
.calendar-form > table > tbody > tr > td > table > tbody > tr > th{
    text-align:center;
}
.calendar-form > table > tbody > tr > td > table > tbody > tr:nth-child(2){
    background: #95d07e;
    color:white;
    font-size:0;
    text-align: center !important;
}
.calendar-form > table > tbody > tr > td > table > tbody > tr:nth-child(2) > :first-letter {
    font-size:14px;;
}
td > table > tbody > tr > td{
    text-align: center;
}
.mon,.tue,.wed,.thu,.fri,.sat,.sun,.noday{
transition: 0.3s;
    cursor:pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.calendar-form > table > tbody > tr > td > table > tbody > tr > td {
    background: #eaefeb;
    margin: 11px !important;
    border: 2px solid #f6f6f6;
    width: 30px;
    height: 25px;
    font-size: 11px;
}
td.swi{
    background-color: #e80000;
    color: red;
    font-weight:bold;
    cursor:default;
}
td.used{
    background-color: #3f90c3;
    color: #3f90c3;
    cursor:default;
}
td.byl{
    background-color: #e80000 !importnat;
    color: white;
    cursor:default;
}
td.sat, td.sun{
    background-color: #969696;
    color: white;
    cursor:default;
}
td.checked{
    color:blue;
    font-weight:bold;
    background: #4caf50 !important;
}
.calendar-form > table > tbody > tr > td{
    display: inline-block;
}
form input, form label, form textarea{
    display:none;
}
.submit {
	-moz-box-shadow:inset 0px 0px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 0px 0px 0px #9acc85;
	box-shadow:inset 0px 0px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 26px;
	text-decoration:none;
}
.submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
.submit:active {
	position:relative;
	top:1px;
}
.calendar-form{

}
#ddw{
    font-size: 2rem;
    height: 2rem;
}
#ddw u{
    text-decoration: none;
    font-weight: bold;
}
#ddw > span > span {
    padding: 5px;
    font-size: 1.4rem;
    line-height: 2rem;
    background-color: #4caf50;
    border-radius: 2rem;
    margin-left: 10px;
}